@font-face {
  font-family: 'slkscrTitle';
  src: url('../public/fonts/slkscrbBold.ttf');
}

@font-face {
  font-family: 'slkscrNormal';
  src: url('../public/fonts/slkscrNormal.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1, h2 {
  font-family: 'slkscrTitle', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'slkscrNormal', sans-serif;
}

p, span {
  font-family: 'slkscrNormal', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
